[Desktop Entry]
Encoding=UTF-8
Name=Stakecube
Comment=Stakecube P2P Cryptocurrency
Comment[fr]=Stakecube, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Stakecube, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/stakecube-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/stakecube;
Categories=Office;
