[Desktop Entry]
Encoding=UTF-8
Name=Netko
Comment=Netko P2P Cryptocurrency
Comment[fr]=Netko, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Netko, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/stakecube-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/stakecube;
Categories=Office;
